@page
@model LogoutModel
@{ ViewData["Title"] = "Đăng xuất"; }

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/login/css/style.css">
<body class="img js-fullheight background">
    <section class="ftco-section">
        <div class="container" >
            <div class="container">
                <h1>@ViewData["Title"]</h1>
                <p>Bạn đã đăng xuất thành công. Nhấn vào <a href="/">đây</a> để trở về trang chủ</p>
            </div>
            </div>
    </section>
</body>
<script src="~/login/js/jquery.min.js"></script>
<script src="~/login/js/bootstrap.min.js"></script>
<script src="~/login/js/bootstrap.min.js"></script>
<script src="~/login/js/main.js"></script>
