@page
@model ResetPasswordModel
@{ ViewData["Title"] = "Reset password";
    Layout = "_Layout"; }
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/login/css/style.css">
<body class="img js-fullheight background">
    <section class="ftco-section">
        <div class="container" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-4">
                        <form method="post"
                              class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger" style="font-weight:bold"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="row form-group">
                                <div class="input-field col s12">
                                    <input style="width: 310px; background: transparent; border: none; height: 50px; color: white !important; border: 1px solid transparent; background: rgba(255, 255, 255, 0.2); border-radius: 40px; padding-left: 20px; padding-right: 20px; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;" asp-for="Input.Email" type="email" class="validate form-control" placeholder="Email">

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-field col s12">
                                    <input style="width: 310px; background: transparent; border: none; height: 50px; color: white !important; border: 1px solid transparent; background: rgba(255, 255, 255, 0.2); border-radius: 40px; padding-left: 20px; padding-right: 20px; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;" id="password-field" asp-for="Input.Password" type="password" class="validate form-control" placeholder="Mật khẩu">
                                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="input-field col s12">
                                    <input style="width: 310px; background: transparent; border: none; height: 50px; color: white !important; border: 1px solid transparent; background: rgba(255, 255, 255, 0.2); border-radius: 40px; padding-left: 20px; padding-right: 20px; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s;" id="password-field" asp-for="Input.ConfirmPassword" type="password" class="validate form-control" placeholder="Nhập lại mật khẩu">
                                </div>
                            </div>
                            <div class="row center" style="display:flex;align-items:center;flex-direction:column">
                                <button type="submit" class="form-control btn btn-primary submit px-3" style="width: 350px;">
                                    Thay đổi
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/login/js/jquery.min.js"></script>
    <script src="~/login/js/popper.js"></script>
    <script src="~/login/js/bootstrap.min.js"></script>
    <script src="~/login/js/main.js"></script>
}
