@page
@model Webb.Areas.Identity.Pages.Account.ResetPasswordEmailConfirmationModel
@{
    ViewData["Title"] = "Reset Password Email Confirmation";
    Layout = "_Layout";
}
<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Please check your email to reset your password.
            </span>
        </div>
    </div>
</div>

