@model Webb.Areas.ServiceRequests.Models.DashboardViewModel
@using ASC.Models.BaseTypes
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor UserHttpContext
@{ ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_SecureLayout.cshtml";

}
<div class="row"></div>
@await Html.PartialAsync("_ServiceRequestGrid", Model.ServiceRequests, new ViewDataDictionary(ViewData) {
 { "SectionName", "Đơn hàng" },
 { "Id", "tblServiceRequests" },
 { "IsAudit", false }
})
@if (UserHttpContext.HttpContext.User.IsInRole(Roles.Admin.ToString()) ||
UserHttpContext.HttpContext.User.IsInRole(Roles.Engineer.ToString()))
{
    @await Html.PartialAsync("_ServiceRequestGrid", Model.AuditServiceRequests,
   new ViewDataDictionary(ViewData) {
    { "SectionName", "Lịch sử cập nhật đơn hàng" },
    { "Id", "tblAuditServiceRequests" },
   { "IsAudit", true }
   })
}
@if (UserHttpContext.HttpContext.User.IsInRole(Roles.Admin.ToString()))
{
    <div class="row">
        <div class="col s6">
            <ul class="collection with-header height-300px overflow-y">
                <li class="collection-header"><h5>Nhân viên đang có đơn hàng</h5></li>
                @if (Model.ActiveServiceRequests.Any())
                {
                    @foreach (var activeServiceRequest in Model.ActiveServiceRequests)
                    { 
                        <li class="collection-item">
                            <div>
                                <span class="new badge" data-badgecaption="">
                                    @activeServiceRequest.Value</span>@activeServiceRequest.Key
                        </div>
                    </li>
                }
                }
                else
                {
                <li class="collection-item">
                    <div class="card-panel teal lighten-2 white-text">
                        Không tìm thấy nhân viên nào
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            // Initialize DataTable to show list of Service Requests
            var table = $('#tblServiceRequests').DataTable({
                'pageLength': 3,
                // Number of records to be displayed per page
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']],
                // Remove default Sorting
                'sorting': [],
                'columns': [{ "visible": false }, { "visible": false }, null, {
                    "width": "20%"
                }, null, null, null],
                "language": {
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy mục nào",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "info": "Hiển thị mục _START_ đến _END_ trong số _TOTAL_ mục",
                    "infoEmpty": "Không tìm thấy mục nào",
                    "infoFiltered": "(tìm kiếm trong tổng số _MAX_ mục)",
                    "emptyTable": "Không tìm thấy dữ liệu.",
                    "paginate": {
                        "next": "Sau",
                        "previous": "Trước"
                    },
                }
            });
            var table = $('#tblAuditServiceRequests').DataTable({
                'pageLength': 3,
                // Number of records to be displayed per page
                'lengthMenu': [[3, 5, 10, -1], [3, 5, 10, 'All']],
                // Remove default Sorting
                'sorting': [],
                'columns': [{ "visible": false }, { "visible": false }, null,
                    { "width": "20%" }, null, null, null, null],
                "language": {
                    "search": "Tìm kiếm:",
                    "zeroRecords": "Không tìm thấy mục nào",
                    "lengthMenu": "Hiển thị _MENU_ mục",
                    "info": "Hiển thị mục _START_ đến _END_ trong số _TOTAL_ mục",
                    "infoEmpty": "Không tìm thấy mục nào",
                    "infoFiltered": "(tìm kiếm trong tổng số _MAX_ mục)",
                    "emptyTable": "Không tìm thấy dữ liệu.",
                    "paginate": {
                        "next": "Sau",
                        "previous": "Trước"
                    },
                }
            });

            // Set Styles for DataTable and Number of Records to be displayed dropdown
            $('.tblServiceRequests').css("width", "100%");
            $('select[name$="ServiceRequests_length"]').formSelect();
            // On click of View icon, redirect to Service Request Details View based on RowKey
            $(document).on('click', '.view', function () {
             var tableId = '#' + $(this).parents('table').attr('id');
             var serviceRequest = $(tableId).DataTable().row($(this).parents('tr')).data();
             // For Service Request Table, populate id with RowKey
             var id = serviceRequest[0];
             // For Service Request Audit Table, populate id by spliting the Partition key with '-'
             if (tableId.indexOf('Audit') >= 0)
             id = serviceRequest[1].substring(serviceRequest[1].indexOf('-') + 1,serviceRequest[1].length);
             window.location.href = '@Url.Action("ServiceRequestDetails","ServiceRequest",new { Area = "ServiceRequests" })?Id=' + id;
});
        });
    </script>
}
